---
import Logo from "./img/logo-menu.png"

---




<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />


<header id="header">
    <div class="right" id="right">
        <div class="logo">
               <img src= {Logo} alt="Logo">
        </div>

        <div class="burger_menu">
            <div class="btn-menu" id="burger_menu">
                <span></span>
                <span></span>
                <span></span>
            </div>

        </div>
        <div class="links" id="links">
            <ul id="link-url" class="link-url">
                <li><a href="#">Inicio</a></li>
                <li><a href="#menu">Menu</a></li>
                <li><a href="#promocion">Promociones</a></li>
                <li><a href="#">Franquicias</a></li>
            
            </ul>

        </div>

        

    </div>


    <div class="left">
        <div class="phone-number"><span class="material-symbols-outlined">
call
</span><h3>1-800-2020</h3></div>
        <div class="location"><a href="#">Ven a nuestro local</a></div>
    
    </div>



</header>


<script>

const burger_menu = document.getElementById('burger_menu')
const links = document.getElementById('links')
const right = document.getElementById('right')
const link_url = document.getElementById('link-url')

burger_menu.addEventListener('click', () =>{
    links.classList.toggle('linkActive')
    burger_menu.classList.toggle('close')
    right.classList.toggle('nav_fixed')
})

link_url.addEventListener('click', (e) =>{
   links.classList.remove('linkActive')
    burger_menu.classList.remove('close')
    right.classList.remove('nav_fixed')
})


</script>




<style>
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

#header{
    position: relative;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 5;
}

.right{
    position: relative;
    width: 50%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.burger_menu{
    display: none;
}

.left{
    position: relative;
    width: 35%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 10;
}

.logo{
    position: relative;
    padding-top: 30px;
    width: 25%;
    height: auto;
}

.logo img{
    width: 90px;
    height: 90px;
}

.links{
    position: relative;
    margin: 0 0 0 10px;
}

.links .link-url{
    display: flex;
    align-items: center;
    justify-content: center;
}

.links .link-url li{
    margin: 0 15px 0 15px;
}

.links .link-url li a{
    font-size: 20px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    transition: all 0.20s;
}

.links .link-url li a:hover{
    color: red;
}
 
.phone-number{
    display: flex;
    align-items: center;
}

.phone-number span{
    margin-right: 10px;
}

.phone-number h3{
    font-size: 24px;
    font-weight: 500;
    font-family:'Roboto', sans-serif;
}

.location{
    width: 190px;
    height: 60px;
    background-color: #FAE325;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
}

.location:hover{
    background-color: #F2DC25;
    cursor: pointer;
}
 
 .location a{
    font-size: 18px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    color: #333;
 }

 @media (max-width: 500px){
    
     #header{
         color: white;
         max-width: 500px;
    }

     .left{
         display: none;
     }

     .right{
         width: 100%;
         justify-content: space-between;
     }

     .links{
         position: absolute;
         width: 100%;
         height: 185vh;
         margin: 0;
         right: -375px;
        background-color: red;
        transition: all .25s;
     }



     .link-url{
         position: absolute;
         top: 50%;
         flex-direction: column;
         padding-bottom: 15px;
         transform: translate(55%, 50%);
     }

     .links .link-url li{
        margin-bottom: 30px;
    }

    .links .link-url li a{
        font-size: 1.6em;
    }

    .links .link-url li a:hover{
        color: #F2DC25;
    }


     .burger_menu{
         display: inline-block;
         padding-right: 20px;
         width: 40px;
         height: 40px;
         z-index: 100;
         cursor: pointer;
     }

     .logo{
         margin-left: 15px;
         z-index: 100;
     }

     .linkActive{
         right: 0;
     }

     .nav_fixed{
         position: fixed;
     }

     .btn-menu{
         position: absolute;
         top: 0;
         transform: translate(-50%, 0);
         display: flex;
         height: 100%;
         flex-direction: column;
         justify-content: center;
         align-items: center;
     }

     .close{
         right: 310px;
         z-index: 1000;
     }


     .btn-menu span{
         width: 37px;
         height: 4px;
         margin-bottom: 5px;
         position: relative;
         background-color: #444;
         border-radius: 3px;
         transform-origin: 4px 0px;
         transition: all 0.2s linear;
     }


     .close span{
         opacity: 1;
         transform: rotate(45deg) translate(0px, 0px);
         background-color: #fff;
     }

     .close span:nth-child(2){
         transform: rotate(-45deg) translate(-9px, 6px);
     }

     .close span:nth-child(3){
         display: none;
     }



 }




</style>
