---
export interface Props {
	title: string;
}

import Nav from "../components/nav-bar.astro"
import Logo from "../components/img/logo-menu.png"
import Gallery from "../components/gallery.astro";
import Menu from "../components/menu.astro"
import Promociones from "../components/promociones.astro";

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href= {Logo} />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Nav />
		<Gallery />
		<Menu />
		<Promociones />

		<!-- localizacion de los establecimientos -->
	</body>
</html>
<style is:global>
	:root {
		--accent: 124, 58, 237;
		--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
	}
	html {
		font-family: system-ui, sans-serif;
		background-color: #EDEDED;
	}
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}

	*{
		padding: 0;
		margin: 0;
		box-sizing: border-box;
		scroll-behavior: smooth;
	}

	@media (max-width: 500px){
		body{
			width: 1000px;
		}
	}
</style>
